<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout.html :: header}">
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- Thêm liên kết Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h3>Edit History</h3>
  <p>
    <a class="btn btn-secondary btn-sm mb-3" th:href="@{/task}">
      Back to Task List
    </a>
  </p>
  <form th:object="${task}" th:action="@{/history/edit/{id}(id=${task.id})}" method="POST">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" th:field="*{title}" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="start" class="form-label">Start</label>
      <input type="datetime-local" class="form-control" id="start" name="start" th:field="*{start}">
    </div>
    <div class="mb-3">
      <label for="end" class="form-label">End</label>
      <input type="datetime-local" class="form-control" id="end" name="end" th:field="*{end}">
    </div>
    <!--    <div class="mb-3">-->
    <!--      <label for="status" class="form-label">Status</label>-->
    <!--      <select class="form-select" id="status" th:field="*{status}">-->
    <!--        <option th:each="task : ${taskStatuses}" th:value="${task}" th:text="${task}"></option>-->
    <!--      </select>-->
    <!--    </div>-->
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select class="form-select" id="type" name="type" th:field="*{type}">
        <option th:each="type : ${taskTypes}" th:value="${type}" th:text="${type}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Task</button>
  </form>
</div>

<!-- Thêm liên kết Bootstrap JS và Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>