<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout.html :: header}">
  <meta charset="UTF-8">
  <title>Daily Task</title>
  <!-- Thêm liên kết Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid card">
  <h3 style="text-align: center">Management Daily Task</h3>
  <div class="mb-3">
    <a class="btn btn-primary btn-sm" href="/task/create">Create</a>
    <a class="btn btn-primary btn-sm" href="/history">History</a>
  </div>
  <table class="table container">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Title</th>
      <!--            <th scope="col">Description</th>-->
      <th scope="col">Time</th>
      <!--            <th scope="col">Status</th>-->
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task, iter : ${tasks}">
      <td th:text="${iter.index + 1}"></td>
      <td th:text="${task.title}" th:title="${task.description}"></td>
      <td th:text="${task.time}"></td>
      <!--            <td th:text="${task.status}"></td>-->
      <td th:text="${task.type}"></td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{/task/edit(id=${task.getId()})}">Edit</a>
        <a onclick="return confirm('Are you sure you want to delete this task?')"
           class="btn btn-danger btn-sm" th:href="@{/task/delete(id=${task.getId()})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Thêm liên kết Bootstrap JS và Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>

<th:block th:insert="~{layout.html :: myScript}"></th:block>
<script>
  window.onload = function () {
    document.getElementById("taskPage").classList.add("active");
  };

</script>
</body>
</html>